html{
  font-size: 16px;
  width: 100%;
  height: 100%;

}
body{
    background-color:  #DAF7F6;
  	font-family: 'Open Sans', sans-serif;
  	font-size: 12px;
  	line-height: 16px;
  	color: #3B3B3B;
}
 h1, .recipe h2, .ingredients h3, .direction h3{
  color: #F16059;
}
header{
  background-color: white;
  text-align: center;
}
header h1{
  display: inline-block;
  padding: 60px 0;
  font-family:'Montserrat', sans-serif;
  font-size: 4em;
	font-weight: bold;
	text-transform: uppercase;
  margin: 0;

}
header img{
  margin-right: 16px;

}
main{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
}
.card{
  display: flex;
  justify-content: center;
  margin: 25px 0;
  flex-flow: row wrap;
}
.image{
  width: 900px;
  height: 950px;

}
.recipe{
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  width: 91.8%;
}
#cookies .image {
    background-size: cover;
    background-image: url("../img/gluten-free-sugar-cookies.jpg");
    margin-top: 15px;
}

#pesto .image {
    background-size: cover;
    background-image: url("../img/nut-free-pesto.jpg");
}

#salad .image {
    background-size: cover;
    background-image: url("../img/watermelon-salad.jpg");
}

.recipe h2{
  font-size:3.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
	text-transform: uppercase;
  line-height: 1em;
  margin-top: 0px;
  text-align: center;
}
.time{
  margin-bottom: 20px;
  border: 1px solid #3B3B3B;
  display: flex;
  justify-content: space-between;
}
.time div{


	width: 33.3333%;
	box-sizing: border-box;
	text-transform: uppercase;
}
.time .cook-time{
  border-width:  0 1px;
  border-style: solid;
  border-color: #3B3B3B;
}
.time img{

  margin-right: 5px;
  vertical-align: middle;
  width: 1.7rem;
  height: auto;
  padding-bottom: 8px;
}
.time-detail{

  display: inline-block;
  font-size: 1.9em;
}
.time strong {
	font-family: 'Montserrat', sans-serif;
}
.columns{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.direction{

  width: 100%;


}
.ingredients{

  width: 100%;
  margin-right: 15px;

}
h3{
  padding: 6px;
  border-top: 1px solid #3B3B3B;
  border-bottom: 1px solid #3B3B3B;
  font-family: 'Montserrat', sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
  text-align: center;
  padding: 18px 0;
}
.ingredients ul{
  padding-left: 35px;
  line-height: 2em;
  list-style-type: square;
  font-size: 3em;
}

.direction ol {
	padding-left: 35px;
  line-height: 2em;
  font-size: 3em;
}
.prep-time{
  padding-left: 10px;
}
.cook-time{
  padding-left: 13px;
}
.total-time{
  padding-left: 12px;
}
.discription{
  font-size: 3em;
  line-height: 1.5em;
}
@media (min-width: 1200px) {
  .main{
    margin: 0
  }

  .card{
    flex-flow: row nowrap;
    overflow: auto;
    margin: 15px 0;
  }
 .image{
   width: 500px;
   height: 550px;
 }
 .recipe{
   width: 500px;
   height: 550px;
   /* margin-top: 15px; */
   padding: 20px;
   margin: 0;

  }
  .columns{
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    overflow: auto;
  }
  header h1{
    padding: 40px 0;
    font-size: 3em;
  }
  .card{
      overflow: auto;
  }
  .recipe h2{
    font-size:24px;
    line-height: 29px;

  }
  .time{
    margin-bottom: 20px;
    border: 1px solid #3B3B3B;
    overflow: auto;

  }
  .time div{
    padding-left: 6px;
  }
  .time img{


    width: 15px;
    /* padding-bottom: 0; */
  }
  .time-detail{
   font-size: 12px;
   display: inline-block;
  }
  .direction{
    width: 240px;
  }
  h3{
   font-size: 12px;
  	padding: 6px;
    text-align: left;
  }
  .ingredients{
    width: 205px;
    margin-right: 15px;
  }
  .ingredients ul{
    padding-left: 15px;
    line-height: 24px;

    font-size: 12px;
  }
  .direction ol {
  	padding-left: 15px;
  	line-height: 22px;
    font-size: 12px;
  }
  .prep-time{
    padding-left: 5px;
  }
  .cook-time{
    padding-left: 5px;
  }
  .total-time{
    padding-left: 5px;
  }
  .discription{
    font-size: 12px;
    line-height: 1.3em;
  }
  .top{
    margin: 15px 0;
  }


}
